site_name: My Docs
site_url: https://hensy8586.github.io/notes

theme:
  name: material
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

      primary: blue grey
      accent: teal

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

      primary: blue grey
      accent: teal

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

      primary: blue grey
      accent: teal

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.top
    - toc.follow
    - content.code.copy

  pygments_style: vs
  pygments_dark_style: monokai

markdown_extensions:
  - toc:
      permalink: true
      title: Table of Contents
      toc_depth: 3

  # Required for fenced code blocks ```lang
  - pymdownx.superfences

  # Syntax highlighting (Pygments)
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true

  # Optional but recommended (better inline code / keyboard keys / smart quotes)
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Python:
      - python/index.md
  - Data Engineering:
      - data_engineering/index.md
      - Databases:
          - data_engineering/databases/index.md
          - Database Access: data_engineering/databases/database_access.md
      - Databricks:
          - data_engineering/databricks/index.md
  - Data Science:
      - data_science/index.md
  - AI:
      - ai/index.md
      - AI Agents:
          - ai/index.md
          - Common Functions: ai/ai_agents/common_functions.md
  - Cloud:
      - cloud/index.md
  - Tips and Tricks:
      - tips_tricks/index.md
  - About: about.md
